.aboutEmerc{font-family: 'Source Sans Pro', sans-serif;color:#53A9D6}


.EmercDecription{ width: 100%;
                max-width: 1250px;
                margin-left: auto;
                margin-right: auto;
              
}
.EmercDecription p{  color: #0D0E0E;}