.secondRow{background-color:#E9F3F2;
height: auto;
max-width: 1500px;
width: 100%;
margin-left: auto;
margin-right: auto;
}

.innnerInstruction{ text-align: center}
.innnerInstruction h1{font-size:40px;font-family:'Source Sans Pro', sans-serif;color: #260663 }
.row.column{
  box-sizing: border-box;
}
.row{
    margin-left: auto;
    margin-right: auto;
    max-width: 1250px;
    width: 100%;
    border:0px solid black;
}
.row h2,p{text-align: center;color: #594385  }
/* Create three equal columns that floats next to each other */
.column {
  border:0px solid ;
  float: left;
  width: 30%;
  padding: 10px;
  height: auto; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.firstRow{
    text-align: center;
    font-size: 40px
}
.firstRow h1{font-family: 'Source Sans Pro', sans-serif;color: #436E85}
.startSelling a{padding: 10px;font-size: 18px; border: 0.5px solid #828383;border-radius: 10px;background-color: #33A3F9;text-decoration: none; }
.startSelling a:hover{color: black;background-color: #99C8EC}


@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
/* Social media shop*/
.socialMediaShop{
    overflow: hidden;
     margin-left: auto;
    margin-right: auto;
    max-width: 1250px;
    width: 100%;
}
.socialMediacolumn h1{text-align: center;color: #436E85;}
.socialMediacolumn img{width: 100%;max-width: 200px;margin-left: auto;margin-right: auto;display: block;}

.socialMediaShop,.socialMediacolumn{
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

/* Create two equal columns that floats next to each other */
.socialMediacolumn{
  float: left;
  width: 50%;
  padding: 10px;
  height: auto; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.socialMediaShop:after {
  content: "";
  display: table;
  clear: both;
}
.learnMore a{padding: 5px;font-size: 18px; border: 0.5px solid #828383;border-radius: 10px;background-color: #33A3F9;text-decoration: none;}
.learnMore a:hover{color: black;background-color: #99C8EC}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .socialMediacolumn {
    width: 100%;
  }
}

.sellAnything{
    text-align: center;
    font-size: 30px
}
.sellAnything h1{font-family: 'Source Sans Pro', sans-serif;color: #436E85; background-color:#E9F3F2;  margin-left: auto;
    margin-right: auto;
    max-width: 1250px;
    width: 100%;}
.row img{width: 100%;
max-width: 300px;
margin-left: auto;
margin-right: auto;
display: block;}

@media screen and (min-width:760px) and (max-width:825px){
.firstRow{
    padding-top: 5%;}}